@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navManager

<h4>You have been logged out of the application.</h4>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		if (HttpContext.User.Identity.IsAuthenticated)
		{
			await HttpContext.SignOutAsync();
			navManager.NavigateTo("/logout", true);
		}
	}
}
